<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Encode+Sans:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Encode+Sans:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f54b25c36b.js" crossorigin="anonymous"></script>
    {%load static%}

    <title>{%block title%}{%endblock%}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'shop/images/storelogo.png' %}"/>
    <style>
      .incart{
        background-color: transparent;
        border: 0px;
        cursor: pointer;
      }
      .navbar-brand{
        font-family: 'Electrolize';
        font-style: normal;
        font-weight: 400;
        
      }
      a.navbar-brand:hover{
        border-style: dotted;

     }

      .nav-link{
        font-family: 'Encode Sans';
        font-style: normal;
        font-weight: 300;
        font-size: large;
        
      }
      .navbar{
        background-image: linear-gradient(90deg, #C4C4C8 0%, #E0E1E8 55.18%, #B1B2B8 100%);
      }
      #myBtn {
       display: none;
       position: fixed;
       bottom: 20px;
       right: 30px;
       z-index: 99;
       width: 50px;
       height: 50px;
       font-size: 18px;
       cursor: pointer;
       padding: 15px 0px;
       border-radius: 50%
       
   }

     #myBtn:hover {
     background-color: #555;
     }
    {% block css%}{% endblock %}
    </style>
  </head>
  <body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="/">
        <span class="navbar-brand mb-0 h1">appliance<br>&nbsp &nbsp CITY</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/category/phone">Mobiles</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/category/tv">Tv</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/category/refrigerator">Refrigerators</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"  href="/category/washing machine">Washing Machine</a>
          </li>
          
          <li class="nav-item">
            <form action="/checkout/" method="POST">
              {% csrf_token %}
             <input type="text" hidden id="mycart" name="mycart">
             <button type="submit" class="incart my-2 ">
                <i class="fa-solid fa-cart-plus" style="color: black ;"></i>(<span id="cart" style="color: black;">0</span>)
            </button></form>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search/" method="POST">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Search for products, category .." name="srch" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <button onclick="topFunction()" class="btn btn-warning" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>


    {% block body %}{% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

 {% block js %}

<script>

if(localStorage.getItem('cart') != null)
{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
updateCart(cart);
}
else
{
var cart = {};
}

//if add to cart is clicked
$('.cart').click(function(){
var idstr = this.id.toString();
console.log(idstr);
if (cart[idstr] !=undefined){
cart[idstr] = cart[idstr] + 1;
}
else
{
cart[idstr] = 1;
}
updateCart(cart);
});



$(document).ready(function() {
  $(".alert-success").hide()
  $(".kart").click(function() {
    $(".alert-success").show()
  })
})
function updateCart(cart) {
   
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    console.log(cart);
    document.getElementById("mycart").value = JSON.stringify(cart);
    
}

$('.clear').click(function(){
       clearCart(cart);
       document.getElementById("mycart").value = JSON.stringify(cart);
       
    });

 function clearCart(cart)
    {
        localStorage.clear();
        location.reload();
    }

document.getElementById("mycart").value = JSON.stringify(cart);

//if cart is empty and placibg order

$('.plcord').click(function(){
  if(localStorage.getItem('cart') != null){
  document.getElementById("itemjson").value = JSON.stringify(cart);  
  }
   else{
  alert("cart is empty!");
   }
    });



{%if thank%}
alert('Thanks for shopping! Your order ID is {{id}}. Please use this as a reference for further assistance.')
localStorage.clear();
document.location= "/";
{%endif%}

function validateForm() {
  let x = document.forms["myForm"]["fn"].value;
  let y = document.forms["myForm"]["ln"].value;
  let z = document.forms["myForm"]["email"].value;
  let w = document.forms["myForm"]["phone"].value;
  let p = document.forms["myForm"]["address1"].value;
  let r = document.forms["myForm"]["city"].value;
  let s = document.forms["myForm"]["state"].value;
  let t = document.forms["myForm"]["zip_code"].value;
  if (x == "") {
    alert("Name must be filled out");
    return false;
  }
  if (y == "") {
    alert("Name must be filled out");
    return false;
  }
  if (z == "") {
    alert("Email must be filled out");
    return false;
  }
  if (w == "") {
    alert("phone must be filled out");
    return false;
  }
  if (p == "") {
    alert("address must be filled out");
    return false;
  }
  if (r == "") {
    alert("city must be filled out");
    return false;
  }
  if (s == "") {
    alert("Parish must be filled out");
    return false;
  }
  if (t == "") {
    alert("zip_code must be filled out");
    return false;
  }
}

//button back to top

var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
           
  </script>
   
{% endblock %}

    
</html>